


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* my code*/

.main-wrapper {
margin: 0 auto;
width: 1000px;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: bold;
    font-size: 22px;
    color: #00BFFF;
    line-height: 63px;
}

header .nav-signup {
    float: right;
}

header .nav-signup a:hover {
    color: #14A2E9;
}

header .nav-signup a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #fff;
    font-family: serif;
    font-size: 18px;
    color: #323F39;
    line-height: 63px;
    cursor: pointer;
}

.main-container{
    padding-top: 40px;
}

.main-container h2{
    font-family: serif;
    font-size: 40px;
    color: #323F39;
    line-height: 50px;
    text-align: center;
}

/* signup.php*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    background-color: #fff;
    font-family: serif;
    font-size: 19px;
    color: #111;
    line-height: 40px;
}

.signup-form button:hover {
    color: black;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #73909F;
    font-family: serif;
    font-size: 19px;
    color: white;
    line-height: 40px;
    cursor: pointer;
}